DATABASE_URL=
TEST_DB_URL=
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
RABBIT_MQ_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_REGION=
MINIO_BUCKET=
